* {
    font-family: 'Cormorant Garamond', serif;

}
.navbar,
.main-box {
    background-color: rgb(134, 167, 145);
}

.hero {
    background: linear-gradient(rgba(229, 230, 190, 0.801), rgba(33, 148, 177, 0.65)), rgba(167, 211, 170, 0.575) url('../images/dushore-cabin.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white !important;

}

h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}


.header-icon {
    margin-right: 1.5rem;
    font-size: 1.25rem;
    color: black;
}

.project-links:active {
    opacity: 50%;
}

.project-links:hover {
    opacity: 50%;
}

#contact-box {
    height: 10rem;
    margin-left: 1rem;

}

#work-projects-id {
    margin-left: 1rem;
}

.icon {
    padding: 3rem;
    align-content: space-around
}

.is-vertical {
    margin-left: 1rem;
    border-right: 4px solid rgb(134, 167, 145);
    margin-right: 2rem;
}
.project-blocks {
    padding: 1.5rem

}
.box {
    background-color: rgba(246, 251, 246, 0.993);
}
/**/

/* .header{
    height: 60rem
}

.hero-background {
    opacity: 0.3;
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 500px;
}
.hero-head {
    background-image: url('../images/dushore-cabin.jpg');
    background-repeat: no-repeat;
}


}




 */